* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    color: white;
    background: black;
    user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
